{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <header>
        <div id="v2-cloud-icon">
            <img src="https://dash.v2cloud.com/static/frontend/images/v2.png?v=0.10.43-6" alt="" style="height: 100px">
            <div style="text-align: center;">V2 Cld</div>
        </div>
    </header>
    <main>
        <div id="react-component"></div> <!-- React component will render here -->
    </main>
    <script src="{% static 'bundle/bundle.js' %}"></script> <!-- Adjust path if needed -->
</body>
</html>
